spawn-at-startup "waybar"
spawn-at-startup "wpaperd"


prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
clipboard { disable-primary; }
hotkey-overlay { skip-at-startup; hide-not-bound; }
animations { slowdown 0.7; }
gestures { hot-corners { off; }; }


environment {
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	EDITOR "hx"
}


recent-windows {
	open-delay-ms 300
	highlight { corner-radius 14; }

    binds {
        Mod+Tab           { next-window; }
        Mod+Shift+Tab     { previous-window; }
        Mod+Alt+Tab       { next-window filter="app-id"; }
        Mod+Shift+Alt+Tab { previous-window filter="app-id"; }
    }
}


input {
	keyboard {
		xkb {
			// You can set rules, model, layout, variant and options.
			// For more information, see xkeyboard-config(7).
			// For example:
			// options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
			layout "fr,us"
			options "grp:alt_shift_toggle,caps:swapescape"
		}
		numlock
		track-layout "window"
	}
	touchpad {
		tap
		dwt
		drag true
		drag-lock
		natural-scroll
		middle-emulation
		tap-button-map "left-right-middle"
		scroll-factor 0.4
	}
	warp-mouse-to-focus mode="center-xy"
	// focus-follows-mouse
	disable-power-key-handling
}


output "Samsung Display Corp. 0x4180 Unknown" {
	position x=0 y=0
}
output "Dell Inc. Dell AW3420DW H4PKTY2" {
	position x=-760 y=-1440
}
output "Dell Inc. DELL P1917S 4T6C17790LWL" {
	position x=320 y=-1024
}
output "eDP-1" {
	position x=0 y=0
	scale 1
}


binds {
	// ------------------
	// ---- Launcher ----
	// ------------------
	Mod+Space repeat=false hotkey-overlay-title="Launcher (otter-launcher)" {
		// spawn "kitty" "--class" "otter-launcher" "otter-launcher"
		spawn-sh "kitten @ --to unix:/tmp/otter-launcher resize-os-window --action toggle-visibility || kitten panel -o allow_remote_control=socket-only --listen-on unix:/tmp/otter-launcher --layer overlay --edge center-sized --lines 8 --columns 40 --move-to-active-monitor --focus-policy exclusive --app-id otter-launcher --hide-on-focus-loss otter-launcher"
	}

	// ----------------------------------
	// ---- Frequently used programs ----
	// ----------------------------------
	Mod+T repeat=false hotkey-overlay-title="Terminal (kitty)"        { spawn "kitty"; }
	Mod+E repeat=false hotkey-overlay-title="File manager (Nautilus)" { spawn "nautilus"; }
	Mod+Z repeat=false hotkey-overlay-title="Text editor (Zed)"       { spawn "zeditor"; }
	Mod+F repeat=false hotkey-overlay-title="Web browser (Zen)"       { spawn "zen-twilight"; }
	Mod+D repeat=false hotkey-overlay-title="Discord"                 { spawn "discord"; }
	Mod+O repeat=false hotkey-overlay-title="Obsidian"                { spawn "obsidian"; }
	Mod+A repeat=false hotkey-overlay-title="Anki"                    { spawn "anki"; }

	// -----------------
	// ---- Actions ----
	// -----------------
	Mod+Shift+S repeat=false hotkey-overlay-title="Rescan for WiFi" {
		spawn-sh "notify-send 'Scanning for WiFi...'; nmcli device wifi rescan"
	}

	// -------------------------------------------------
	// ---- Hardware control (sound and brightness) ----
	// -------------------------------------------------
	XF86AudioRaiseVolume cooldown-ms=50 allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+" "--limit" "1"; }
	XF86AudioLowerVolume cooldown-ms=50 allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
	XF86AudioMute        repeat=false allow-when-locked=true   { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
	XF86AudioMicMute     repeat=false allow-when-locked=true   { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

	XF86MonBrightnessUp         cooldown-ms=150 allow-when-locked=true { spawn "brightnessctl" "-e" "set" "+5%"; }
	XF86MonBrightnessDown       cooldown-ms=150 allow-when-locked=true { spawn "brightnessctl" "-n" "-e" "set" "5%-"; }
	Shift+XF86MonBrightnessUp   allow-when-locked=true                 { spawn "brightnessctl" "-d" "asus::kbd_backlight" "-e" "set" "+1"; }
	Shift+XF86MonBrightnessDown allow-when-locked=true                 { spawn "brightnessctl" "-d" "asus::kbd_backlight" "-e" "set" "1-"; }

	// ---------------
	// ---- Media ----
	// ---------------
	XF86AudioNext  repeat=false allow-when-locked=true { spawn "playerctl" "next"; }
	XF86AudioPlay  repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }
	XF86AudioPause repeat=false allow-when-locked=true { spawn "playerctl" "play-pause"; }
	XF86AudioPrev  repeat=false allow-when-locked=true { spawn "playerctl" "previous"; }

	// -----------------------
	// ---- Fullscreening ----
	// -----------------------
	F11         repeat=false hotkey-overlay-title="Maximize column" { maximize-column; }
	Mod+F11     repeat=false hotkey-overlay-title="Fullscreen"      { fullscreen-window; }
	Mod+Alt+F11 repeat=false hotkey-overlay-title="Hide the bar"    { spawn-sh "kill -USR1 $(pidof waybar)"; }

	// ----------------
	// ---- Moving ----
	// ----------------
	Mod+H            { focus-column-left; }
	Mod+J            { focus-window-or-workspace-down; }
	Mod+K            { focus-window-or-workspace-up; }
	Mod+L            { focus-column-right; }
	Mod+Ctrl+H       { move-column-left; }
	Mod+Ctrl+J       { move-window-down-or-to-workspace-down; }
	Mod+Ctrl+K       { move-window-up-or-to-workspace-up; }
	Mod+Ctrl+L       { move-column-right; }
	Mod+Shift+H      { focus-column-first; }
	Mod+Shift+L      { focus-column-last; }
	Mod+Shift+Ctrl+H { move-column-to-first; }
	Mod+Shift+Ctrl+L { move-column-to-last; }
	Mod+Ctrl+Alt+J   { move-column-to-workspace-down; }
	Mod+Ctrl+Alt+K   { move-column-to-workspace-up; }

	Mod+Shift+Page_Down {
		move-workspace-down
	}
	Mod+Shift+Page_Up {
		move-workspace-up
	}
	Mod+Shift+U {
		move-workspace-down
	}
	Mod+Shift+I {
		move-workspace-up
	}

	// -----------------------
	// --- Mouse movements ---
	// -----------------------
	// Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
	// Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
	// Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	// Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
	// Mod+WheelScrollRight { focus-column-right; }
	// Mod+WheelScrollLeft { focus-column-left; }
	// Mod+Ctrl+WheelScrollRight { move-column-right; }
	// Mod+Ctrl+WheelScrollLeft { move-column-left; }
	// Mod+Shift+WheelScrollDown { focus-column-right; }
	// Mod+Shift+WheelScrollUp { focus-column-left; }
	// Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
	// Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }

	// --------------------------------------------
	// --- Manage column layout (tabbed or not) ---
	// --------------------------------------------
	Mod+W               repeat=false { toggle-column-tabbed-display; }
	Mod+Semicolon       repeat=false { consume-window-into-column; }
	Mod+Shift+Semicolon repeat=false { expel-window-from-column; }

	// ---------------------------------
	// --- Window size and placement ---
	// ---------------------------------
	Mod+R       repeat=false { switch-preset-column-width; }
	Mod+Shift+R repeat=false { switch-preset-window-height; }
	Mod+X                    { expand-column-to-available-width; }
	Mod+C                    { center-visible-columns; }
	Mod+V       repeat=false { toggle-window-floating; }
	Mod+Shift+V repeat=false { switch-focus-between-floating-and-tiling; }

	// ------------
	// --- Misc ---
	// ------------
	Print                                     { screenshot; }
	Mod+Alt+Print                             { screenshot-screen; }
	Mod+Print                                 { screenshot-window; }
	Mod+Escape      allow-inhibiting=false    { toggle-keyboard-shortcuts-inhibit; }
	Mod+Shift+E                               { quit; }
	Mod+Shift+Comma hotkey-overlay-title=null { show-hotkey-overlay; }
	Mod+Q           repeat=false              { close-window; }

	// ----------------------------
	// ---- Monitor management ----
	// ----------------------------
	Mod+Shift+P repeat=false hotkey-overlay-title="Turn on <span face='Fira Code Nerd Font'>eDP-1</span>" { spawn-sh "niri msg output eDP-1 on"; }
	Mod+P       hotkey-overlay-title="Power off monitors"                                                 { power-off-monitors; }
}


layout {
	gaps 8
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}
	preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
	}
	always-center-single-column
	empty-workspace-above-first
	default-column-width { proportion 0.66667; }
	focus-ring {
		width 1
		active-gradient from="#33ccffee" to="#00ff99ee" angle=45
		inactive-color "#15aaccdc"
	}
	tab-indicator {
	    place-within-column
        length total-proportion=0.33333
        gap 4
        width 3
        gaps-between-tabs 2
        corner-radius 2
	}
}


window-rule {
	match app-id="zen-twilight"
	match app-id="dev.zed.Zed"
	match app-id="discord" title="Discord"
	match app-id="obsidian"
	match app-id="steam" title="Steam"
	match app-id="kitty" title="btop"
	open-maximized true
}
// Let Discord open in background
window-rule {
	match app-id="discord" title="Discord"
	match app-id="discord" title="Discord Updater"
	open-focused false
	open-floating false
}
// Otter-launcher with kitty
window-rule {
	match app-id="otter-launcher"
	open-floating true
	default-window-height { proportion 0.25; }
	default-column-width { proportion 0.333; }
	focus-ring { off; }
}
// Floats Bitwarden window from Zen --- no worky cuz the initial window title is "Zen Twilight" :/
// window-rule {
// 	match app-id="zen-twilight" title="Extension : (Gestionnaire de mots de passe Bitwarden) - Bitwarden — Zen Twilight"
// 	open-floating true
// }
window-rule {
	geometry-corner-radius 10
	clip-to-geometry true
}
