[general]
default_module = "ddg"
empty_module = "app"
exec_cmd = "zsh -c"
esc_to_abort = true
cheatsheet_entry = "?"
cheatsheet_viewer = "less -R; clear"

[interface]
header = """
 \u001B[34;1m \u001B[0m $USER@$(echo $HOST)        \u001B[31m\u001B[0m $(mpstat | awk 'FNR ==4 {print $4}')%  \u001B[33m󰍛\u001B[0m $(free -h | awk 'FNR == 2 {print $3}' | sed 's/i//')
  \u001B[34;1m \u001B[0;1m """
list_prefix = "    "
selection_prefix = " \u001B[31;1m ▌ "
indicator_with_arg_module = ""
indicator_no_arg_module = ""
place_holder = "type & search"
default_module_message = "    \u001B[33msearch\u001B[0m the internet"
suggestion_mode = "list"
suggestion_lines = 4
prefix_color = "\u001B[33m"
prefix_padding = 4
description_color = "\u001B[39m"
place_holder_color = "\u001B[90m"
hint_color = "\u001B[90m"
move_interface_down = 1
move_interface_right = 1

[[modules]]
prefix = "app"
description = "launch an app"
cmd = """
  cat ~/.cache/otter-launcher/desktop-entries \
  | fzf --delimiter='|' --with-nth=2 --reverse --padding 1,2,0 --highlight-line --cycle --info-command 'echo -e "[$FZF_POS/$FZF_TOTAL_COUNT]"' --gutter " " --prompt "-> " --pointer " ~" \
  | cut -d'|' -f1 \
  | xargs setsid -f dex
"""
# unbind_proc = true

[[modules]]
prefix = "ddg"
description = "search with duckduckgo"
cmd = """
  xdg-open 'https://duckduckgo.com/?q={}'
  niri msg action focus-window --id $(niri msg --json windows | jq '.[] | select(.app_id == "zen-twilight") | .id')
"""
with_argument = true
url_encode = true
unbind_proc = true

[[modules]]
prefix = "tp"
description = "launch btop++"
cmd = "kitty --title btop -- btop"
unbind_proc = true

[[modules]]
prefix = "pwr"
description = "power menu"
cmd = """
  action=$(echo "Shutdown\nReboot\nSuspend" \
  | fzf --reverse --padding 1,2,0 --highlight-line --cycle --info-command 'echo -e "[$FZF_POS/$FZF_TOTAL_COUNT]"' --gutter " " --prompt "-> " --pointer " ~")
  case "$action" in
  Reboot)
    reboot
    ;;
  Shutdown)
    poweroff
    ;;
  Suspend)
    systemctl suspend
    ;;
  esac
"""

[[modules]]
prefix = "wr"
description = "search word reference"
cmd = """
  xdg-open 'https://www.wordreference.com/fren/{}'
  niri msg action focus-window --id $(niri msg --json windows | jq '.[] | select(.app_id == "zen-twilight") | .id')
"""
with_argument = true
url_encode = true
unbind_proc = true

[[modules]]
description = "manage outputs"
prefix = "no"
cmd = """
  select_monitor() {
    echo $(niri msg --json outputs | jq -r 'to_entries | map(.value.name + " -> " + .value.make + " " + .value.model) | join("\n")' | fzf --border --border-label " $1 " --reverse --highlight-line --cycle --info-command 'echo -e "[$FZF_POS/$FZF_TOTAL_COUNT]"' --gutter " " --prompt "-> " --pointer " ~" | cut -d' ' -f1)
  }
  action=$(echo "on\noff\nmirror" | fzf --reverse --padding 1,2,0 --highlight-line --cycle --info-command 'echo -e "[$FZF_POS/$FZF_TOTAL_COUNT]"' --gutter " " --prompt "-> " --pointer " ~")
  case "$action" in
    off|on)
      monitor=$(select_monitor Choose)
      niri msg output "$monitor" "$action"
    ;;
    mirror)
      what=$(select_monitor What)
      [ -z "$what" ] && exit
      where=$(select_monitor Where)
      [ -z "$where" ] && exit
      niri msg action focus-monitor "$where"
      setsid -f wl-mirror "$what"
      sleep 0.1
      mirror_id=$(niri msg --json windows | jq -r '.[] | select(.app_id == "at.yrlf.wl_mirror") | .id')
      niri msg action focus-window --id "$mirror_id"
      niri msg action fullscreen-window --id "$mirror_id"
    ;;
  esac
"""
